@model List<Blog.Models.Post>

<table>
    <thead>
        <tr>
            <th>Título</th>
            <th>Resumo</th>
            <th>Categoria</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var post in Model)
        {
            <tr>
                <td>@post.Titulo</td>
                <td>@post.Resumo</td>
                <td>@post.Categoria</td>
                <td><a href="/Post/RemovePost/@post.Id"></a></td>
            </tr>
        }
    </tbody>
</table>