<form action="/Post/Adicionar" method="post">
    <label>
        Titulo: <input name="Titulo" />
    </label>
    <label>
        Resumo: <input name="Resumo" />
    </label>
    <label>
        Categoria: <input name="Categoria" />
    </label>
    <button type="submit">Cadastrar</button>
</form>